body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.25em;
  margin-top: 25px;
  margin-bottom: 15px;
}

p {
  margin-top: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

code {
  font-size: 1.2em;
  padding: 2px;
  background-color: #FaFaFa;
  font-family: monospace;
}
